<IfModule mod_rewrite.c>
    ErrorDocument 400 /metallica/error/400/
    ErrorDocument 401 /metallica/error/401/
    ErrorDocument 403 /metallica/error/403/
    ErrorDocument 404 /metallica/error/404/
    ErrorDocument 500 /metallica/error/500/

    RewriteEngine On

    # Rule to handle URLs starting with 'error' or 'artigo'
    RewriteRule ^(error|artigo)/([a-z0-9-]+)/?$ ?page=$1&sub=$2 [NC,L]

    # General rule for all other URLs
    RewriteRule ^([a-z0-9-]+)/?$ ?page=$1 [NC,L]
</IfModule>
